<h1 class="titulo">Real Time Products</h1>
<h2 class="subtitulo">Productos actualizados en tiempo real</h2>

<!-- Contenedor para mostrar los productos en tiempo real -->
<div id="contenedorProductos" class="contenedor"></div>

<h2 class="subtitulo">Formulario para agregar productos</h2>

<!-- Formulario para agregar productos -->
<form class="formulario">
    <input type="text" id="title" class="input" placeholder="Titulo"> <!-- Campo para el título del producto -->
    <input type="text" id="description" class="input" placeholder="Descripcion"> <!-- Campo para la descripción del producto -->
    <input type="number" id="price" class="input" placeholder="Precio"> <!-- Campo para el precio del producto -->
    <input type="text" id="img" class="input" value="Sin Imagen"> <!-- Campo para la URL de la imagen del producto -->
    <input type="text" id="code" class="input" placeholder="Código"> <!-- Campo para el código del producto -->
    <input type="number" id="stock" class="input" placeholder="Stock"> <!-- Campo para el stock del producto -->
    <input type="text" id="category" class="input" placeholder="Categoria"> <!-- Campo para la categoría del producto -->
    <input type="text" id="thumbnails" class="input" value="thumbnails"> <!-- Campo para las miniaturas del producto -->
    <select id="status" class="select"> <!-- Selector para el estado del producto (Activo/Inactivo) -->
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
    <button type="button" id="btnEnviar" class="boton"> Enviar </button> <!-- Botón para enviar el formulario -->
</form>

<!-- Biblioteca de Socket.io para la comunicación en tiempo real -->
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>

<!-- Script principal para manejar la lógica de la aplicación -->
<script src="js/main.js"></script>
