<div class="admin-container">
    <h1 class="admin-header">Hola, bienvenido Admin</h1>
    <p class="admin-message">La página está en construcción.</p>

    <div class="admin-actions mt-4">
        <button class="admin-button delete-users">
            Eliminar Usuarios
        </button>
        <button class="admin-button delete-products">
            Eliminar Productos
        </button>
    </div>
</div>


<!-- Importo el archivo CSS para la pagina de administrador -->
<link rel="stylesheet" href="./css/admin.css">